body {
    background-color: #FFF6FF;
    margin: 0px;
    margin-bottom: 100px;
}
h1 {
    color: #7128EA;
    border-bottom: solid 3px #7128EA;
    font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
    margin: 0px;
    padding: 10px;
}
.suzume h2 {
    color: #7128EA;
}
h2 {
    margin-left: 5px;
    color: #1F1926;
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
h4 {
    color: #4B4453;
margin: 15px;
font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.suzume {
    display: flex;
    margin: 0px;
    background-color: #FCEAFF;
    padding: 20px;
}
.txtsuzume {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 40px;
    margin-left: 20px;
}
img {
    height: 150px;
}
.relsuzume {
    margin: 0px;
    padding: 7px;
        display: flex;
        overflow-x: auto;
        gap: 8px;
        
}
.relsuzume img {
    background-color: #D1DEDE;
    opacity: 0.75;
}
.relsuzume img:hover {
    opacity: 1;
    height: 175px;
    border-bottom: solid 5px #7128EA;
    
}
.sobresuzume {
    color: #4B4453;
    margin-left: 20px;
}
img {
    border-radius: 10px;
}
iframe {
    border-radius: 10px;
}
